<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/campgrounds">CampHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/campgrounds">Campgrounds</a>
        <a class="nav-item nav-link" href="/campgrounds/new">New Campground</a>
       </div>
       <div class="navbar-nav ml-auto">
        <% if(!currentUser) { %>
          <span style="display: flex;">
        <a href="/login" class="nav-item nav-link">Login</a>
        <h3 class="nav-item" style="color: #adb5bd; font-weight: 100;">/</h3>
        <a href="/register" class="nav-item nav-link">Register</a>
        <% } else { %>
        <a href="/logout" class="nav-item nav-link">Logout</a>
        <% } %>
        </span>
       </div>
      </div>
    </div>
  </nav>