<% layout('layouts/boilerplate') %>

    <h1 class="text-center">New Campground</h1>
    <div class="row">
        <div class="col-8 offset-2">
            
    <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">TITLE</label>
            <input class="form-control" id="title" type="text" name="campground[title]" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">LOCATION</label>
            <input class="form-control" id="location" type="text" name="campground[location]" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <div class="mb-3">
                <input class="form-control" type="file" id="formFile" name="image" multiple>
        </div>
        <div class="mb-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="price-label">$</span>
            </div>
            <input type="text" name="campground[price]" class="form-control" id="price-label" placeholder="0.00" 
            aria-label="price" aria-describedby="price-label" name="campground[price]" required>
            <div class="valid-feedback">
                Looks good!
              </div>
          </div>
        </div>    
        <div class="mb-3">
            <label class="form-label" for="description">DESCRIPTION</label>
            <textarea class="form-control" id="description" type="text" name="campground[description]" required></textarea>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <div class="mb-3">
        <button class="btn btn-success">SUBMIT</button>
        </div>
    </form>

    <div>
        <a href="/campgrounds">All Campgrounds</a>
    </div>


        </div>
    </div>
    

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.getElementsByClassName('validated-form');
        // Loop over them and prevent submission
        const validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>